html {
  scroll-behavior: smooth;
}

body {
  /* background-image: bodyimg.png !important; */
  background-image: url('bodyimg.png');
  width: 100%;
}

p {
  padding-top: 0.7rem;
  font-size: 0.9rem;
}

/* Logo Size */
.brblogo {
  height: 5rem;
  width: 3.9rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.cashmate {
  height: 3.1rem;
  width: 10rem;
}

/* Navbar Style */
.h-color {
  background-color: #00081d !important;
}

.header-nav {
  background-color: #00081d !important;
}

.nav-custom {
  background-color: #00081d !important;
}

/* Paddings Header Section */
#header-nav {
  /*padding: 1.2rem 2rem 0 2rem;*/

}

/* Text Styles */
/* HOVER EFFECTS */
.navbar ul li a {
  color: #4ebab5 !important;
}

.navbar ul li a:hover {
  color: white !important;
}

.about {
  color: #4ebab5 !important;
  font-family: 'Noto Serif', serif !important;
  font-size: 1rem !important;
}

.services {
  color: #4ebab5 !important;
  font-family: 'Noto Serif', serif !important;
  font-size: 1rem !important;
}

.product {
  color: #4ebab5 !important;
  font-family: 'Noto Serif', serif !important;
  font-size: 1rem !important;
}

.partners {
  color: #4ebab5 !important;
  font-family: 'Noto Serif', serif !important;
  font-size: 1rem !important;
}

/*
.log-btn {
    color: #4ebab5 !important;
    font-family: 'Noto Serif', serif !important;
    font-size: 1rem !important;
}*/
.letsTalk {
  color: #4ebab5 !important;
  font-family: 'Noto Serif', serif !important;
  font-size: 1rem !important;
}

#navbarNav {
  margin-bottom: 0;
}

/*No arrow in dropdown*/
.dropdown-toggle::after {
  display: none !important;
}

/*dropdown color*/
.navbar-custom .dropdown-menu {
  background-color: #00081d;
  /*bg color*/
  border-width: thin;
}

.navbar-custom .dropdown-item {
  color: #4ebab5;
  /*text color*/
  font-family: 'Noto Serif', serif !important;
  font-size: 1rem !important;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #00081d !important;
  /*text color*/
  background-color: #4ebab5;
  /*highlight*/
}

/* Border Manipulation */
.about-border {
  border: 1px solid;
  border-right-color: #4ebab5 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none;
  padding-right: 1rem;
  margin-right: 1rem;
}

.ul-holder {
  margin-bottom: 5rem;
}

.services-border {
  border: 1px solid;
  border-right-color: #4ebab5 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none;
  padding-right: 1rem;
  margin-right: 1rem;
}

.product-border {
  border: 1px solid;
  border-right-color: #4ebab5 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none;
  padding-right: 1rem;
  margin-right: 1rem;
}

.partners-border {
  border: 1px solid;
  border-right-color: #4ebab5 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none;
  padding-right: 1rem;
  margin-right: 1rem;
}

.letsTalk-border {
  border: 1px solid;
  border-right-color: #4ebab5 !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none;
  padding-right: 1rem;
  margin-right: 1rem;
}

/* Button Header */
.log-btn {
  color: #4ebab5 !important;
  border-color: #4ebab5 !important;
}

.log-btn:hover,
.log-btn:focus,
.log-btn:active {
  background-color: #4ebab5 !important;
  color: white !important;
}

.log-btn.active {
  background-color: #4ebab5 !important;
}

/*Footer contact info*/
footer {
  font-size: 0.8rem !important;
  height: 100px;
  bottom: 0;
  width: 100%;
  padding: 1rem 3rem;
  color: #4ebab5 !important;
  background-color: #00081d !important;
}

/*Home page slideshow*/
.lead {
  font-size: 1.5rem !important;
}

.jumbbank {
  padding: 6em 10em !important;
  color: white;
  background-image: url('bodyimg.png') !important;
  background-size: 100% 100%;
  height: 27rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.bankbox {
  background: rgba(187, 190, 201, 0.3) !important;
  padding: 3rem 3rem;
}

.s_purchase {
  padding: 6em 10em !important;
  color: white;
  background-image: url("images/s_purchase.png") !important;
  background-size: 100% 100%;
  height: 27rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.s_bill {
  padding: 6em 10em !important;
  color: white;
  background-image: url("images/s_bill.png") !important;
  background-size: 100% 100%;
  height: 27rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.s_payroll {
  padding: 5em 10em !important;
  color: white;
  background-image: url("images/s_payroll.png") !important;
  background-size: 100% 100%;
  height: 27rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.s_withdraw {
  padding: 6em 10em !important;
  color: white;
  background-image: url("images/s_withdraw.png") !important;
  background-size: 100% 100%;
  height: 27rem;
  width: 100% !important;
  /*width: 30rem;*/
  background-repeat: no-repeat !important;
}

.s_product {
  text-align: justify !important;
  padding: 4em 10em !important;
  color: white;
  background-image: url("images/artboard1.jpg") !important;
  background-size: 100% 100%;
  height: 27rem;
  width: 100% !important;
  /*width: 30rem;*/
  background-repeat: no-repeat !important;
}

/*Button Talk*/
.btn-custom {
  padding: 0.5rem 3rem !important;
  color: #00081d !important;
}

.btn-product {
  padding: 0.5rem 1.5rem !important;
}

/*talk content from index.html*/
.contact-content {
  text-align: center;
  padding: 2rem 5rem;
  line-height: 3;
  color: white;
  background-color: #000718 !important;
}

/*copyright content*/
.copyright-content {
  text-align: center;
  padding: 2rem 5rem;
  line-height: 3;
  color: white;
  background-color: #000718 !important;
}

/*about page content*/
#history-body-content {
  padding: 4rem 3rem !important;
  line-height: 2;
  color: white;
  text-align: justify;
  background-color: #000718 !important;
}

#who-body-content {
  padding: 4rem 3rem !important;
  line-height: 2;
  color: white;
  text-align: justify;
  background-image: url("images/artboard1.jpg") !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
}

#meet-body-content {
  padding: 4rem 3rem;
  line-height: 2;
  color: white;
  background-color: #00081d !important;
}

/*meet the meet content*/
.hboard-p, .hboard-t {
  height: 34rem;
  width: 25rem;
  text-align: center;
  padding: 0.7rem 0.7rem;
}

.hboard-p2 {
  height: 24rem;
  width: 15rem;
  text-align: center;
  padding: 0.7rem 0.7rem;
}

.card-body {
  padding-top: 0 !important;
}

.card, .card-deck {
  border-width: 0px 0px !important;
}

.card-img-top {
  display: block !important;
  width: 100% !important;
  height: 27rem !important;
  border: 0px 0px !important;
  margin: 0px 0px !important;
}

.card-body {
  border: none !important;
  background-color: #00081d;
  padding: 7px 7px;
}

.card-text, .card-title {
  color: white !important;
  text-align: center;
}

.h1-about {
  margin: 0rem 0rem;
  margin-bottom: 1rem;
}

/*footer manipulation*/
/*media screen for footer page (adjust for monitor screen)*/
@media screen and (max-width: 1021px) {
  .col-3, .col-5, .col-4, .col-2 {
    font-size: 0.7rem !important;
    padding: 0.1rem 0.4rem !important;
  }
}

  /*media screen for footer page (adjust for monitor screen)*/
@media screen and (max-width: 806px) {
    .col-3, .col-5, .col-4, .col-2 {
      font-size: 0.6rem !important;
      padding: 0.1rem 0.4rem !important;
    }
}
    /*media screen for footer page (adjust for mobile screen)*/
    @media screen and (max-width: 600px) {
      .col-3, .col-5, .col-4, .col-2 {
        font-size: 0.58rem !important;
        padding: 0 0 !important;
      }
    }



/*services page content*/
.hr1 {
  margin: 0 0;
  border: 3px solid #4ebab5 !important;
  border-radius: 2px !important;
  width: 30%;
}

/*full screen service page*/
.eload {
  /*padding: 19em 8em !important;
  padding-left: 85em !important;
  padding-top: 30em !important;
  color: white;
  width: 100% !important;
  height: 7em !important;
  background-image: url("images/s_eload.png") !important;
  background-size: cover;
  */
  padding: 6em 10em !important;
  padding-left: 55em !important;
  padding-top: 10em !important;
  color: white;
  background-image: url("images/s_eload.png") !important;
  background-size: 100% 100%;
  height: 35rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.remit {
  /*
  padding: 19em 8em !important;
  padding-left: 85em !important;
  padding-bottom: 30em !important;
  color: white;
  width: 100% !important;
  background-image: url("images/s_remit.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  */
  padding: 6em 10em !important;
  padding-left: 55em !important;
  padding-top: 10em !important;
  color: white;
  background-image: url("images/s_remit.png") !important;
  background-size: 100% 100%;
  height: 35rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.fund {
  /*
  padding: 19em 8em;
  padding-left: 85em !important;
  padding-top: 30em !important;
  color: white;
  width: 100% !important;
  background-image: url("images/s_transfer.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  */
  padding: 6em 10em !important;
  padding-left: 55em !important;
  padding-top: 10em !important;
  color: white;
  background-image: url("images/s_transfer.png") !important;
  background-size: 100% 100%;
  height: 35rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.mobile {
  /*
  padding: 19em 8em !important;
  padding-left: 85em !important;
  padding-top: 30em !important;
  color: white;
  width: 100% !important;
  background-image: url("images/s_mobile.png") !important;
  background-size: cover;
  background-repeat: no-repeat; */
  padding: 6em 10em !important;
  padding-left: 55em !important;
  padding-top: 10em !important;
  color: white;
  background-image: url("images/s_mobile.png") !important;
  background-size: 100% 100%;
  height: 35rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.online {
  /*
  padding: 19em 8em !important;
  padding-left: 85em !important;
  padding-top: 30em !important;
  color: white;
  width: 100% !important;
  background-image: url("images/s_obank.png") !important;
  background-size: cover;
  background-repeat: no-repeat; */
  padding: 6em 10em !important;
  padding-left: 55em !important;
  padding-top: 10em !important;
  color: white;
  background-image: url("images/s_obank.png") !important;
  background-size: 100% 100%;
  height: 35rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

.ewallet {
  /*
  padding: 19em 8em !important;
  padding-right: 85em !important;
  padding-top: 30em !important;
  color: white;
  width: 100% !important;
  background-image: url("images/s_ewallet.png") !important;
  background-size: cover;
  background-repeat: no-repeat; */
  padding: 6em 10em !important;
  padding-left: 55em !important;
  padding-top: 10em !important;
  color: white;
  background-image: url("images/s_ewallet.png") !important;
  background-size: 100% 100%;
  height: 35rem;
  width: 100% !important;
  background-repeat: no-repeat !important;
}

/*media screen for service page (adjust for monitor screen)*/
@media screen and (max-width: 1270px) {
  .eload {
    padding: 13rem 8rem !important;
    color: white;
    background-image: url("images/s_eload.png") !important;
    background-size: cover;
    width: 100% !important;
    background-repeat: no-repeat !important;
  }

  .remit {
    padding: 10rem 6rem !important;
    color: white;
    background-image: url("images/s_remit.png") !important;
    background-size: cover;
    height: 35rem;
    width: 100% !important;
    background-repeat: no-repeat !important;
  }

  .fund {
    padding: 7rem 8rem !important;
    color: white;
    background-image: url("images/s_transfer.png") !important;
    background-size: cover;
    height: 35rem;
    width: 100% !important;
    background-repeat: no-repeat !important;
  }

  .mobile {
    padding: 7rem 8rem !important;
    color: white;
    background-image: url("images/s_mobile.png") !important;
    background-size: cover;
    height: 35rem;
    width: 100% !important;
    background-repeat: no-repeat !important;
  }

  .online {
    padding: 7rem 8rem !important;
    color: white;
    background-image: url("images/s_obank.png") !important;
    background-size: cover;
    height: 35rem;
    width: 100% !important;
    background-repeat: no-repeat !important;
  }

  .ewallet {
    padding: 13rem 7rem !important;
    color: white;
    background-image: url("images/s_ewallet.png") !important;
    background-size: cover;
    height: 35rem;
    width: 100% !important;
    background-repeat: no-repeat !important;
  }

  /*media screen for service page (adjust for mobile screen)*/
  @media screen and (max-width: 500px) {
    .eload {
      padding: 13rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_eload.png") !important;
      background-size: cover;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .remit {
      padding: 10rem 3rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_remit.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .fund {
      padding: 7rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_transfer.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .mobile {
      padding: 7rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_mobile.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .online {
      padding: 7rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_obank.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .ewallet {
      padding: 13rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_ewallet.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }
  }

  /*media screen for service page (adjust for mobile screen)*/
  @media screen and (max-width: 500px) {
    .display-3{
      font-size: 3rem !important;
      text-align: center !important; 
    }

    .eload {
      padding: 13rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_eload.png") !important;
      background-size: cover;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .remit {
      padding: 10rem 3rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_remit.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .fund {
      padding: 7rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_transfer.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .mobile {
      padding: 7rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_mobile.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .online {
      padding: 7rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_obank.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }

    .ewallet {
      padding: 13rem 5rem !important;
      color: white;
      text-align: justify;
      background-image: url("images/s_ewallet.png") !important;
      background-size: cover;
      height: 35rem;
      width: 100% !important;
      background-repeat: no-repeat !important;
    }
  }

  /*product content page*/
  hr {
    border: 10px solid #4ebab5 !important;
    border-radius: 5px !important;
  }

  .service {
    /*font-size:3rem !important;*/
    padding: 5em 20em !important;
    color: white;
    background-color: #00081d !important;
  }

  .service2 {
    /*font-size:3rem !important;*/
    padding: 5em 20em !important;
    color: white;
    background-color: #000718 !important;
  }

  .gcards {
    height: 17rem !important;
    width: 30rem !important;
  }

  .brbdescibe {
    margin: 1rem 0 !important;
  }

  /*product page content*/
  .product-dev {
    background-image: url('images/brbback.png');
    background-size: 100% 100%;
  }

  .row {
    padding-top: 0.2rem;
  }

  .brbcard-display {
    height: 17rem;
    width: 30rem;
  }

  .col-brb {
    color: white !important;
    text-align: center !important;
    padding-top: 0rem !important;
    font-size: 1.12rem;
  }

  .display-4brb {
    text-align: center;
    color: white !important;
    padding-top: 2rem;
  }

  .col-custom1 {
    color: white !important;
    text-align: center !important;
    padding-top: 0rem !important;
    margin-left: 17rem !important;
    font-size: 1.3rem;
  }

  .col-custom2 {
    color: white !important;
    text-align: center !important;
    padding-top: 0rem !important;
    margin-right: 17rem !important;
    font-size: 1.3rem;
  }

  .col-custom3 {
    color: white !important;
    text-align: center !important;
    padding-top: 0rem !important;
    margin-top: 1rem !important;
    font-size: 1.3rem;
  }

  .col-custom4 {
    color: white !important;
    text-align: center !important;
    padding-top: 0rem !important;
    margin-top: -9rem !important;
    font-size: 1.3rem;
  }

  .col-custom, .p-product {
    color: white !important;
    text-align: center !important;
    padding-top: 0rem !important;
    font-size: 1.3rem;
  }

  .card-display {
    height: 10rem;
    width: 10rem;
    padding: 1rem 1rem
  }

  /* Media Rules */
  @media screen and (max-width: 1087px) {
    .about {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .about-dlist {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .services {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .product {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .partners {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .log-btn {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .letsTalk {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .btn-border {
      margin-right: 1.5rem;
    }

    .about-border {
      border: 1px solid;
      border-right-color: #4ebab5 !important;
      border-top: none !important;
      border-left: none !important;
      border-bottom: none;
      padding-right: 1rem;
      margin-right: 0;
    }
  }

  @media screen and (max-width: 940px) {
    .services {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .product {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .about {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .about-dlist {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .partners {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .log-btn {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .letsTalk {
      color: #4ebab5 !important;
      font-family: 'Noto Serif', serif !important;
      font-size: 0.7rem !important;
    }

    .about-border {
      border: 1px solid;
      border-right-color: #4ebab5 !important;
      border-top: none !important;
      border-left: none !important;
      border-bottom: none;
      padding-right: 1rem;
      margin-right: 0;
    }
  }
